@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
.font-weight-light { font-weight: 300; }
.font-weight-regular { font-weight: 400; }
.font-weight-medium { font-weight: 500 }
.font-weight-bold { font-weight: 700; }

body, html {
    margin: 0;
    height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

body.background {
    background: #212121; 
    height: 100%; 
}

header {
    background: #424242;
    opacity: 90%;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}

img.logo {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

div.header--buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 16px;
}   

.header--buttons a:link {
    text-decoration: none;
}

.header--button {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
}

.header--button:hover {
    background-color: #616161;
    cursor: pointer;
}

section.about-me img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 16px;
}

section.about-me {
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin-top: 96px;
    margin-bottom: 96px;
}

section.formation {
    margin-bottom: 96px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
    section.formation { grid-template-columns: 1fr; }
}

div.formation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    text-align: center;
    line-height: 1.2;
}

div.formation-item img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}

section.experience {
    margin: auto;
    margin-bottom: 96px;
    margin-top: 26px;
    max-width: 1004px;
    border-left: 4px solid #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    section.experience { margin-left: 6px; }
}

div.experience-item {
    display: flex;
    align-items: center;
    transform: translate(0);
}

div.experience-item div.line-point {
    background: #FFFFFF;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    position: absolute;
    left: -10px;
}

div.experience-item img {
    height: 100px;
    width: 100px;
    margin: 0px 40px;
}

@media only screen and (max-width: 600px) {
    div.experience-item img {
        height: 60px;
        width: 60px;
        margin: 0px 16px;
    }
}

section.contact {
    margin-bottom: 96px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
    section.contact { grid-template-columns: 1fr; }
}

div.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
}

div.contact-item img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}